<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Pragma app</title>

    <!-- Core CSS - Include with every page -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet"/>

    <!-- Page-Level Plugin CSS - Grid -->

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet"/>

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index" th:ref="@{/index}">Pragmagenia Server Administration</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i><span th:text="${#authentication.name}"></span> - Profile</a></li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="index.html" th:href="@{/index}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Servidores<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a th:href="@{/command}"><span >Ejecucion</span></a>
                                </li>                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Administracion<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="servidores.html" th:href="@{/servidores}">Servidores</a>
                                </li>
                                <li>
                                    <a href="usuarios.html" th:href="@{/usuarios}">Usuarios</a>
                                </li>
                            </ul>
<!--                             /.nav-second-level -->
                        </li>
                        
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Ejecutar Comando
                        </div>
                        <div class="panel-body">
                            <div class="row">
								<div class="ccol-lg-12">
									<form role="form"  th:object="${execution}" th:action="@{/command/execute}" method="post" >
										<div class="form-group">
											<label>Servidor</label> 
											<select class="form-control" th:field="*{server}" >
												<option th:each="servidor : ${serverList}" 
          												th:value="${servidor.ip}" 
          												th:text="${servidor.ip}"></option>
											</select>
										</div>
										<div class="form-group">
											<label>Comando</label> 
											<select class="form-control" th:field="*{command}" >
												<option th:each="comando : ${comandos}" 
          												th:value="${comando.id}" 
          												th:text="${comando.descripcion}"></option>
											</select>
										</div>										
										<button type="submit" class="btn btn-default">Enviar</button>
										<a class="btn btn-default" href="#" th:href="@{/servidores}">Cancelar</a>
										<!-- button type="reset" class="btn btn-default">Reset
											Button</button-->
									</form>
								</div>
								<!-- /.col-lg-6 (nested) -->
								<div id="resultString" class="ccol-lg-12">
								</div>
								<!-- /.col-lg-6 (nested) -->
							</div>
                            
                            
                            
                            
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Grid -->

    <!-- SB Admin Scripts - Include with every page -->
    <script src="js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Grid - Use for reference -->

</body>

</html>
